@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
body{
  background-color: hsl(0,0%,90%);

}

.dark-mode{
  background-color: hsl(0,0%,10%);
  color: white;
}
header {
 
    text-align: center;
}

h2{
  color: green;
}


img{
    max-width: 300px;
}

form {
    background-color: gray;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

#myInput {
    margin: auto;
    text-align: center;
    display: block;
    background-repeat: no-repeat;
    width: 50%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
  }

table {
    margin: auto;
    width: 50%;
    border-collapse: collapse;
    box-shadow: 0 0 2px;
    
  }
  
  td, th {
    border: 1px solid black;

    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
